<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commander - La Table de Carthage</title>
    <link rel="stylesheet" href="../static/css/commander.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
</head>
<body>
    <header>
        <h1 class="restaurant-title">La Table de Carthage</h1>
        <nav>
            <a href="index.html" class="btn">Accueil</a>
            <a href="index.html" class="btn">Réservation</a>
        </nav>
    </header>
    <div class="container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="#" class="menu-link" data-target="Entrées">Entrées</a></li>
                    <li><a href="#" class="menu-link" data-target="Plats">Plats</a></li>
                    <li><a href="#" class="menu-link" data-target="Desserts">Desserts</a></li>
                    <li><a href="#" class="menu-link" data-target="Boissons">Boissons</a></li>
                    <li><a href="#" class="menu-link" data-target="Boissons-chaudes">Boissons chaudes</a></li>
                </ul>
            </nav>
        </aside>

        <div class="right-section">
            <!-- ENTRÉES -->
            <section id="Entrées" class="menu-section">
                <div class="menu-item" data-preparation-time="20">
                    <img src="../static/css/img_entrees/brik.webp" alt="Brick">
                    <p>Brick</p>
                    <p>Brick garnie d'un œuf coulant, de thon, de persil et d'épices.</p>
                    <p>2,90€</p>
                    <button class="btn commander-btn" data-item="Brick" data-price="2.90">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="15">
                    <img src="../static/css/img_entrees/slata_mechouia.jpg" alt="Slata Méchouia">
                    <p>Slata Méchouia</p>
                    <p>Salade de légumes grillés (poivrons, tomates, ail) assaisonnée à l'huile d'olive et au citron.</p>
                    <p>3,50€</p>
                    <button class="btn commander-btn" data-item="Slata Méchouia" data-price="3.50">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="10">
                    <img src="../static/css/img_entrees/fricasses.webp" alt="Fricassée">
                    <p>Fricassée</p>
                    <p>Petite brioche frite farcie de thon, pomme de terre, harissa et olives.</p>
                    <p>1,90€</p>
                    <button class="btn commander-btn" data-item="Fricassée" data-price="1.90">Commander</button>
                </div>
            </section>

            <!-- PLATS -->
            <section id="Plats" class="menu-section">
                <div class="menu-item" data-preparation-time="20">
                    <img src="../static/css/img_plats/chakchouka.jpg" alt="Chakchouka">
                    <p>Chakchouka</p>
                    <p>Plat à base de tomates, poivrons et œufs, assaisonné avec des épices.</p>
                    <p>10,90€</p>
                    <button class="btn commander-btn" data-item="Chakchouka" data-price="10.90">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="40">
                    <img src="../static/css/img_plats/couscous-viande.jpg" alt="Couscous">
                    <p>Couscous Tunisien</p>
                    <p>Semoule accompagnée de légumes et de viande d'agneau ou de poulet.</p>
                    <p>16,50€</p>
                    <button class="btn commander-btn" data-item="Couscous" data-price="16.50">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="25">
                    <img src="../static/css/img_plats/nwasser.jpg" alt="Nwasser">
                    <p>Nwasser</p>
                    <p>Pâtes fines, servies avec une sauce tomate épicée avec du poulet.</p>
                    <p>12,90€</p>
                    <button class="btn commander-btn" data-item="Nwasser" data-price="12.90">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="30">
                    <img src="../static/css/img_plats/riz_djerbien.jpg" alt="Riz Djerbien">
                    <p>Riz Djerbien</p>
                    <p>Riz parfumé aux épices, accompagné de viande de veau, légumes et pois chiches.</p>
                    <p>13,90€</p>
                    <button class="btn commander-btn" data-item="Riz Djerbien" data-price="13.90">Commander</button>
                </div>
            </section>

            <!-- DESSERTS -->
            <section id="Desserts" class="menu-section">
                <div class="menu-item" data-preparation-time="15">
                    <img src="../static/css/img_desserts/makrouts.jpeg" alt="Makrout">
                    <p>Makrout</p>
                    <p>Pâtisserie à base de semoule, fourrée aux dattes et enrobée de miel.</p>
                    <p>2,90€</p>
                    <button class="btn commander-btn" data-item="Makrout" data-price="2.90">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="10">
                    <img src="../static/css/img_desserts/Baklawa-tunisienne.jpg" alt="Baklawa">
                    <p>Baklawa</p>
                    <p>Pâtisserie feuilletée aux amandes et pistaches, enrobée de miel.</p>
                    <p>3,90€</p>
                    <button class="btn commander-btn" data-item="Baklawa" data-price="3.90">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="10">
                    <img src="../static/css/img_desserts/zrir.jpg" alt="Zrir">
                    <p>Zrir</p>
                    <p>Mélange de graines de sésame, d'amandes et de miel.</p>
                    <p>2,90€</p>
                    <button class="btn commander-btn" data-item="Zrir" data-price="2.90">Commander</button>
                </div>
            </section>

            <!-- BOISSONS -->
            <section id="Boissons" class="menu-section">
                <div class="menu-item" data-preparation-time="5" data-stock="10">
                    <img src="../static/css/img_boissons/coca_cola.jpg" alt="Coca Cola Original">
                    <p>Coca Cola Original</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Coca Cola Original" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="5" data-stock="10">
                    <img src="../static/css/img_boissons/coca-cola-cherry.webp" alt="Coca Cola Cherry">
                    <p>Coca Cola Cherry</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Coca Cola Cherry" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="5" data-stock="10">
                    <img src="../static/css/img_boissons/coca_zero.jpg" alt="Coca Cola Zero">
                    <p>Coca Cola Zero</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Coca Cola Zero" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="5" data-stock="10">
                    <img src="../static/css/img_boissons/ice_pome_cassis.jpg" alt="Oasis goût pomme cassis">
                    <p>Oasis goût pomme cassis framboise</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Oasis goût pomme cassis" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="5" data-stock="10">
                    <img src="../static/css/img_boissons/oasis-tropical-canette-33cl.webp" alt="Oasis goût tropical">
                    <p>Oasis goût tropical</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Oasis goût tropical" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="2">
                    <img src="../static/css/img_boissons/lipton-icetea-33cl_peche.jpg" alt="Lipton Ice tea goût pêche">
                    <p>Lipton Ice tea goût pêche</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Lipton Ice tea goût pêche" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="2">
                    <img src="../static/css/img_boissons/ice-tea-framboise-33cl.jpg" alt="Ice tea framboise">
                    <p>Lipton Ice tea goût framboise</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Lipton Ice tea goût framboise" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="2">
                    <img src="../static/css/img_boissons/perrier.jpg" alt="Perrier">
                    <p>Eau gazeuse Perrier</p>
                    <p>2€</p>
                    <button class="btn commander-btn" data-item="Eau gazeuse Perrier" data-price="2">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="1,5">
                    <img src="../static/css/img_boissons/eau-plate-des-abatilles.webp" alt="Eau plate Abatilles">
                    <p>Eau plate Abatilles</p>
                    <p>1,50€</p>
                    <button class="btn commander-btn" data-item="Eau plate Abatilles" data-price="1.50">Commander</button>
                </div>
            </section>

            <!-- BOISSONS CHAUDES -->
            <section id="Boissons-chaudes" class="menu-section">
                <div class="menu-item" data-preparation-time="5">
                    <img src="../static/css/img_boissons_chaudes/the-pignons-tunisie-1200x800.jpg" alt="Thé rouge tunisien">
                    <p>Thé rouge tunisien</p>
                    <p>Thé noir infusé avec de la menthe fraîche et du sucre, parfois agrémenté de pignons pour une touche gourmande.</p>
                    <p>2.50€</p>
                    <button class="btn commander-btn" data-item="Thé rouge tunisien" data-price="2.50">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="5">
                    <img src="../static/css/img_boissons_chaudes/café-arabe.jpg" alt="Café arabe">
                    <p>Café arabe</p>
                    <p>Café noir infusé avec des grains moulus et parfumé à la fleur d’oranger ou à la cardamome.</p>
                    <p>2.50€</p>
                    <button class="btn commander-btn" data-item="Café arabe" data-price="2.50">Commander</button>
                </div>
                <div class="menu-item" data-preparation-time="5">
                    <img src="../static/css/img_boissons_chaudes/espresso.jpg" alt="Espresso">
                    <p>Espresso</p>
                    <p>Café court et corsé.</p>
                    <p>2.50€</p>
                    <button class="btn commander-btn" data-item="Espresso" data-price="2.50">Commander</button>
                </div>
            </section>
            
            <!-- PANIER -->
<section id="panier">
    <h2>Mon Panier</h2>
    <ul id="cart-items"></ul> <!-- Liste des articles du panier -->
    <p>Total: <span id="cart-total">0.00</span>€</p>

    <!-- Bouton pour valider la commande (cela affichera le formulaire de récupération) -->
    <button id="validate-order" class="btn">Valider la commande</button>
</section>

<!-- Formulaire pour la récupération, caché par défaut -->
<section id="recovery-form" style="display:none;">
    <h2>Informations de récupération</h2>
    <label for="nom_client">Nom pour la commande:</label>
    <input type="text" id="nom_client" placeholder="Entrez votre nom" required>

    <label for="pickup-date">Date de récupération:</label>
    <input type="date" id="pickup-date" required>

    <label for="pickup-time">Heure de récupération:</label>
    <input type="time" id="pickup-time" required>

    <!-- Bouton pour finaliser la commande -->
    <button id="finalize-order" class="btn">Finaliser la commande</button>
</section>
                <!-- Section de récapitulatif de la commande -->
            <section id="order-summary" style="display:none;">
                <h2>Récapitulatif de la commande</h2>
                <p id="summary-items"></p>
                <p>Total: <span id="summary-total"></span>€</p>
                <p><strong>Nom:</strong> <span id="summary-name"></span></p>
                <p><strong>Date de récupération:</strong> <span id="summary-date"></span></p>
                <p><strong>Heure de récupération:</strong> <span id="summary-time"></span></p>
                <p><strong>Commande confirmée!</strong></p>
            </section>
            
            <section id="recapitulatif" style="display: none;">
                <h2>Récapitulatif de la commande</h2>
                <p><strong>Nom :</strong> <span id="recap-nom"></span></p>
                <p><strong>Date de récupération :</strong> <span id="recap-date"></span></p>
                <p><strong>Heure de récupération :</strong> <span id="recap-heure"></span></p>
                <p><strong>Articles :</strong></p>
                <ul id="recap-articles"></ul>
                <p><strong>Total :</strong> <span id="recap-total"></span>€</p>
                <button id="finaliser-commande" class="btn">Finaliser la commande</button>
            </section>
            <section id="confirmation" style="display: none;">
                <h2>Commande confirmée !</h2>
                <p>Votre commande a bien été enregistrée.</p>
            </section>
            
        </div>
    </div>

<script>
    // Gestion de navigation pour le menu
    document.querySelectorAll('.menu-link').forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // Empêche le comportement par défaut du lien
            let targetSection = this.getAttribute('data-target'); // Récupère la section ciblée
    
            // Masquer toutes les sections
            document.querySelectorAll('.menu-section').forEach(section => {
                section.style.display = 'none';
            });
    
            // Afficher la section ciblée
            let sectionToShow = document.getElementById(targetSection);
            if (sectionToShow) {
                sectionToShow.style.display = 'block';
            }
        });
    });
    

    let cart = []; // Tableau qui contient les articles du panier

// Fonction pour afficher le panier
function updateCartDisplay() {
    const cartList = document.getElementById('cart-items');
    const cartTotal = document.getElementById('cart-total');
    cartList.innerHTML = '';  // Vider la liste des articles
    let total = 0;

    cart.forEach((item, index) => {
        total += item.price * item.quantity; // Calcul du total
        let listItem = document.createElement('li');
        listItem.innerHTML = `
            ${item.name} x${item.quantity}
            <button onclick="changeQuantity(${index}, 1)" class="quantity-btn">+</button>
            <button onclick="changeQuantity(${index}, -1)" class="quantity-btn">-</button>
            <button onclick="removeItem(${index})">Supprimer</button>
        `;
        cartList.appendChild(listItem);
    });

    cartTotal.textContent = total.toFixed(2); // Afficher le total
}

// Fonction pour ajouter un article au panier
document.querySelectorAll('.commander-btn').forEach(button => {
    button.addEventListener('click', function() {
        const itemName = this.getAttribute('data-item');
        const itemPrice = parseFloat(this.getAttribute('data-price'));

        // Vérifie si l'article est déjà dans le panier
        let existingItem = cart.find(item => item.name === itemName);

        if (existingItem) {
            existingItem.quantity += 1; // Si déjà dans le panier, on augmente la quantité
        } else {
            cart.push({ name: itemName, price: itemPrice, quantity: 1 }); // Ajoute un nouvel article au panier
        }

        updateCartDisplay(); // Met à jour l'affichage du panier
    });
});

// Fonction pour changer la quantité d'un article dans le panier
function changeQuantity(index, delta) {
    if (cart[index].quantity + delta > 0) { // Empêche une quantité inférieure à 1
        cart[index].quantity += delta;
        updateCartDisplay();
    }
}

// Fonction pour supprimer un article du panier
function removeItem(index) {
    cart.splice(index, 1); // Retire l'élément du panier
    updateCartDisplay(); // Met à jour l'affichage du panier
}

// Fonction pour valider la commande et afficher le formulaire de récupération
document.getElementById('validate-order').addEventListener('click', function() {
    document.getElementById('recovery-form').style.display = 'block';  // Affiche le formulaire de récupération
});

// Fonction pour finaliser la commande et afficher un récapitulatif
document.getElementById('finalize-order').addEventListener('click', function() {
    const clientName = document.getElementById('nom_client').value;
    const pickupDate = document.getElementById('pickup-date').value;
    const pickupTime = document.getElementById('pickup-time').value;

    if (clientName && pickupDate && pickupTime) {
        // Remplir les informations du récapitulatif
        document.getElementById('summary-items').textContent = cart.map(item => `${item.name} x${item.quantity}`).join(', ');
        document.getElementById('summary-total').textContent = cart.reduce((total, item) => total + item.price * item.quantity, 0).toFixed(2);
        document.getElementById('summary-name').textContent = clientName;
        document.getElementById('summary-date').textContent = pickupDate;
        document.getElementById('summary-time').textContent = pickupTime;

        // Afficher le récapitulatif et cacher les autres sections
        document.getElementById('order-summary').style.display = 'block';
        document.getElementById('recovery-form').style.display = 'none';
    } else {
        alert("Veuillez remplir tous les champs.");
    }
});

// Cache toutes les sections du menu sauf la première affichée par défaut
document.querySelectorAll('.menu-section').forEach(section => {
    section.style.display = 'none';
});
document.getElementById('Entrées').style.display = 'block'; // Affichage des Entrées par défaut

// Exemple d'ajout d'articles au panier
cart.push({ name: 'Couscous', quantity: 2, price: 10 });
cart.push({ name: 'Brik', quantity: 1, price: 5 });
updateCartDisplay();
</script>