<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Table de Carthage</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="restaurant-title">La Table de Carthage</h1>
        </header>
        <section class="hero">
            <div class="overlay">
                <div class="buttons">
                    <a href="reservation.html" class="btn">Réservation</a>
                    <a href="commander.html" class="btn">À emporter</a>

                </div>
                <div class="infos">
                    <p>📍 <strong>Adresse :</strong><br>25 Quai des Queyries<br>33100 Bordeaux</p>
                    <p>🕒 <strong>Horaires :</strong></p>
                    <p><strong>Lundi au Vendredi :</strong> 12h00 - 14h30 et 19h00 - 22h30</p>
                    <p><strong>Samedi :</strong> 12h00 - 15h00 et 19h00 - 23h00</p>
                    <!-- Horaires disponibles injectés ici via JS -->
                </div>
            </div>
        </section>
        <footer>
            <p><a href="#">Mentions légales</a></p>
            <p><a href="#">© 2025 La Table de Carthage - Tous droits réservés.</a></p>
        </footer>
    </div>

    <script>
        // Fonction pour récupérer les horaires disponibles via l'API
        async function fetchHoraires() {
            try {
                const response = await fetch('http://127.0.0.1:5000/horaires-disponibles?date=2025-02-20');  // je remplace par la date que je veux tester
                const data = await response.json();
                
                if (data.horaires_disponibles && data.horaires_disponibles.length > 0) {
                    const horairesList = data.horaires_disponibles.join(", ");
                    document.getElementById('horaires').textContent = horairesList;
                } else {
                    document.getElementById('horaires').textContent = "Aucun horaire disponible pour cette date.";
                }
            } catch (error) {
                console.error("Erreur lors de la récupération des horaires:", error);
                document.getElementById('horaires').textContent = "Erreur lors de la récupération des horaires.";
            }
        }

        // fonction pour récupérer les horaires au chargement de la page
        document.addEventListener('DOMContentLoaded', fetchHoraires);
    </script>
</body>
</html>
